@inherits BaseHandler
@implements IDisposable

@inject IconService Icons
@inject ICartoApplicationService CartoApplication
@inject IApplicationScope AppScope
@inject PluginManagerService PluginManager

<MudTreeView  Items="TreeNodes" 
              ExpandOnClick="true" 
              MultiSelection="false"
              Hover="true" Dense="true">
    <ItemTemplate>
        <div style="white-space:nowrap; overflow-x:hidden;"
             class="treenode">
            <MudTreeViewItem Value="@context"
                             Icon=@Icons.FromString(context.Icon)
                             Items="@context.Children"
                             CanExpand="@context.HasChildren"
                             Expanded="@context.IsExpanded"
                             Text="@context.Text" >      
            </MudTreeViewItem>
        </div>
    </ItemTemplate>
</MudTreeView>

@code {
    private HashSet<TocTreeNode> TreeNodes { get; set; } = new HashSet<TocTreeNode>();

    async protected override Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        TreeNodes.Add(new TocMapNode() { Text = "Map" });
    }

    public void Dispose()
    {
        
    }
}