@using gView.Framework.Db;
@inherits BaseHandler

@if (_commonDbConnections?.Providers != null)
{
    <GvCard>
        <GvCardContent>
            <MudSelect Label="Provider" T="string" Style='min-width:280px;'
            @bind-Value="_currentProviderId"
            Variant="Variant.Outlined"
            Dense="true">
                @foreach (var provider in _commonDbConnections.Providers)
                {
                    <MudSelectItem Value="@provider.Id">
                        @provider.Name
                    </MudSelectItem>
                }
            </MudSelect>
            @{
                var schemes = _commonDbConnections.Providers.Where(p => p.Id == _currentProviderId).FirstOrDefault()?.Schemes;
                if(schemes?.Where(s=>s.Name==_currentScheme).Any() != true)
                {
                    _currentScheme = schemes?.FirstOrDefault()?.Name;
                }
            }

            @if (schemes != null)
            {
                <MudSelect Label="Connection Type" T="string"
                @bind-Value="_currentScheme"
                Variant="Variant.Text"
                Dense="true">
                    @foreach (var scheme in _commonDbConnections.Providers.Where(p => p.Id == _currentProviderId).First().Schemes)
                    {
                        <MudSelectItem Value="scheme.Name">
                            @scheme.Name
                        </MudSelectItem>
                    }
                </MudSelect>
            }

            @{
                var scheme = schemes?.Where(s => s.Name == _currentScheme).FirstOrDefault();
            }

            @if (scheme != null)
            {
                <GvGrid ColumnCount="2">
                    @foreach (var parameter in ConnectionStringParameters(_connectionString = scheme.ConnectionString))
                    {
                        if (!_parameters.ContainsKey(parameter))
                        {
                            _parameters.Add(parameter, "");
                        }
                        <GvGridItem>
                            <MudTextField Label="@parameter" T="string"
                            @bind-Value="_parameters[parameter]"
                            InputType="GetInputType(parameter)"
                            Variant="Variant.Text"></MudTextField>
                        </GvGridItem>
                    }
                </GvGrid>
            }
        </GvCardContent>

    </GvCard>

    if(CustomControls!=null)
    {
        <br/>
        <GvCard>
            <GvCardContent>
                @CustomControls
            </GvCardContent>
        </GvCard>
    }

    <br/>
    <div>
        @if (!String.IsNullOrEmpty(_connectionSuccessMessage))
        {
            <MudAlert Severity="Severity.Success">@_connectionSuccessMessage</MudAlert>
        }
        @if (!String.IsNullOrEmpty(_connectionErrorMessage))
        {
            <MudAlert Severity="Severity.Error">@_connectionErrorMessage</MudAlert>

        }
    </div>
    <br/>
    <div class="mud-dialog-actions">
        @if (_isBusy)
        {
            <MudProgressCircular Indeterminate="true" Size="MudBlazor.Size.Small" />
        }

        @if(OfferTestConnection) 
        {
            <MudButton Variant="Variant.Filled"
            Color="Color.Default"
            OnClick="OnTestConnectionClick">
                Test Connection
            </MudButton>
        }
        <MudButton Variant="Variant.Filled"
        Color="Color.Primary"
        OnClick="OnCreateConnectionClick">
            @CreateButtonPrompt
        </MudButton>
    </div>
}

@code {
    [Parameter] public DbConnectionString? DbConnectionString { get; set; }
    [Parameter] public string ProviderId { get; set; } = string.Empty;
    [Parameter] public EventCallback OnSubmit { get; set; }
    [Parameter] public RenderFragment? CustomControls { get; set; }
    [Parameter] public bool OfferTestConnection { get; set; } = true;
    [Parameter] public string CreateButtonPrompt { get; set; } = "Create connection";

    private string _currentProviderId = string.Empty;
    private string? _currentScheme = string.Empty;

    private string _connectionString = string.Empty;
    private Dictionary<string, string> _parameters = new Dictionary<string, string>();

    private string _connectionErrorMessage = string.Empty;
    private string _connectionSuccessMessage = string.Empty;

    async protected override Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        await LoadConnectionStringsModel();  // intialize Conenctions/Providers

        _currentProviderId = ProviderId;
        if (!String.IsNullOrEmpty(_currentProviderId) && _commonDbConnections?.Providers != null)
        {
            _commonDbConnections.Providers = _commonDbConnections.Providers.Where(p => p.Id == _currentProviderId).ToArray();
        }
        else if(_commonDbConnections is not null) // remove providers with command like sqlserver@create
        {
            _commonDbConnections.Providers =
                _commonDbConnections.Providers.Where(p => p.Id.Contains("@") == false).ToArray();
        }

        if (DbConnectionString != null)
        {
            foreach (var key in DbConnectionString.UserDataTypes)
            {
                _parameters[key] = DbConnectionString.GetUserData(key)?.ToString() ?? "";
            }
        }
    }

    private bool _isBusy = false;
    private Task OnTestConnectionClick() => HandleAsync(async () => 
    {
        await TestConnection();
    });

    protected Task OnCreateConnectionClick() => HandleAsync(async () =>
    {
        if (await TestConnection())
        {
            BuildDbConnectionString(DbConnectionString);
            await OnSubmit.InvokeAsync();
        }
    });

    #region Helper

    private DbConnectionString BuildDbConnectionString(DbConnectionString? proto = null, bool? useProvider = null)
    {
        string connectionString = _connectionString;
        foreach (var parameter in _parameters.Keys)
        {
            connectionString = connectionString.Replace($"[{parameter}]", _parameters[parameter]);
        }

        if (proto == null)
        {
            proto = DbConnectionString.Build(_currentProviderId,
                                             useProvider.HasValue ?
                                                    useProvider.HasValue :
                                                    DbConnectionString?.UseProviderInConnectionString ?? true);
        }
        else
        {
            proto.ProviderId = _currentProviderId;
        }

        proto.SchemaName = _currentScheme;
        proto.TryFromConnectionString(_currentProviderId, connectionString);

        return proto;
    }

    private InputType GetInputType(string parameter)
            => parameter.ToLower() switch
            {
                "password" => InputType.Password,
                "port" => InputType.Number,
                _ => InputType.Text
            };

    async private Task<bool> TestConnection()
    {
        _isBusy = true;

        _connectionErrorMessage = _connectionSuccessMessage = string.Empty;
        DataProvider dataProvider = new();
        try
        {
            var connectionString = BuildDbConnectionString(useProvider: true).ConnectionString;

            if (OfferTestConnection)
            {
                await Task.Delay(300);

                if (dataProvider.Open(connectionString, true))
                {
                    _connectionSuccessMessage = "Connection succeeded...";
                    dataProvider.Close();
                }
                else
                {
                    _connectionErrorMessage = $"Error: {dataProvider.lastErrorMessage}";
                }
            }
        }
        catch (Exception ex)
        {
            _connectionErrorMessage = $"Exception: {ex.Message}";
        }
        finally
        {
            _isBusy = false;
        }

        return String.IsNullOrEmpty(_connectionErrorMessage);
    }

    #endregion
}