@inherits BaseHandler
@inject IconService Icons
@inject EventBusService EventBus

@if (table != null)
{
    
    <MudTable Items="@table.Rows" Hover="true" Dense="true"
              T="RowItem">
        <HeaderContent>
            @foreach(var column in table.Columns) 
            {
                <MudTh Class="table-column-icon">@column</MudTh>
            }
        </HeaderContent>
        <RowTemplate>
            @{
                var first = true;
                foreach (var column in table.Columns)
                {
                    <MudTd onclick="">
                       <div style="vertical-align:top;display:inline-flex;"
                            @onclick="@((x) => OnRowCLick(context))" @onclick:stopPropagation="true"
                            @ondblclick="@((x) => OnRowDoubleCLick(context))">
                            @if (first == true && !String.IsNullOrEmpty(context.Icon))
                            {
                                <MudIcon Icon="@Icons.FromString(context.Icon)" />
                                { first = false; }
                            }
                            <span>&nbsp;@context[column]</span>
                       </div>
                    </MudTd>
                }
            }
        </RowTemplate>
    </MudTable>
}

@code{
    [Parameter] public IExplorerTabPage? FrameworkElement { get; set; }
    [Parameter] public IExplorerObject? CurrentExplorerObject { get; set; }

    private TableItem? table;

    protected override void OnInitialized()
    {
        
    } 

    async protected override Task OnParametersSetAsync()
    {
        await base.OnParametersSetAsync();

        await base.HandleAsync(async () =>
        {
            if (FrameworkElement == null)
            {
                return;
            }

            await FrameworkElement.SetExplorerObjectAsync(CurrentExplorerObject);
            var result = await FrameworkElement.RefreshContents();

            table = result.Item as TableItem;
        });
    }

    private void OnRowCLick(RowItem row)
    {
        EventBus.ContentItemClickAsync(null);
    }

    private void OnRowDoubleCLick(RowItem row)
    {
        EventBus.ContentItemDoubleClickAsync(null);
    }

    public void Dispose()
    {
       
    }
}