@using Microsoft.AspNetCore.Components.Routing
@inherits ModalDialogFormBase<MapSettingsModel>

<ModalDialogFormBase T="MapSettingsModel"
                     OnDialogClose="base.OnDialogClose"
                     Model="base.Model">
    <FormContent>
        <MudPaper Height="200px" Style="overflow:hidden; position:relative;">
            <MudDrawerContainer Class="mud-height-full">
                <MudDrawer Variant="@DrawerVariant.Mini" 
                           Color="Color.Primary" 
                           Elevation="1" 
                           Open="true" 
                           OpenMiniOnHover="true" 
                           Fixed="false">
                    <MudNavMenu>
                        <MudNavLink  Icon="@Icons.Material.Filled.Store">Store</MudNavLink>
                        <MudNavLink  Icon="@Icons.Material.Filled.LibraryBooks">Library</MudNavLink>
                        <MudNavLink  Icon="@Icons.Material.Filled.Group">Community</MudNavLink>
                    </MudNavMenu>
                </MudDrawer>
                <div class="d-flex justify-center align-center mud-height-full">
                    <MudButton OnClick="@ToggleDrawer" Color="Color.Primary">Toggle</MudButton>
                </div>
            </MudDrawerContainer>
        </MudPaper>
    </FormContent>
</ModalDialogFormBase>

@code
{
    bool open = false;

    void ToggleDrawer()
    {
        open = !open;
    }
}