@using gView.Server.AppCode
@using gView.Framework.Common

@inject gView.Server.Services.Hosting.UrlHelperService UrlHelperService
@inject gView.Server.Services.Security.LoginManager LoginManager
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>gView.Server</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/lib/webportal-layout/webportal-layout.css" />
        <link rel="stylesheet" href="~/css/site.css?@(SystemInfo.Version.ToString())" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css?@(SystemInfo.Version.ToString())" asp-append-version="true" />
    </environment>
</head>
<body>
    @{
        var username = LoginManager.LoginUsername(this.Context.Request);
    }
    <nav class="webportal-layout-header navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-header">
            <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">
                <div class="gview-header-brand">gView Server</div>
            </a>
        </div>
        <div class="gview-colormode-button" onclick="window.gview.server.toggleDarkMode()">
            ☼
        </div>
    </nav>

    <partial name="_CookieConsentPartial" />

    <div class="webportal-layout-container page-has-header page-has-footer">
        <partial name="_portalSidebarPartial" />
        <div class="webportal-layout-main">
            <div class="webportal-layout-main-container">
                @RenderBody()
            </div>
        </div>
    </div>

    <div class="webportal-layout-footer">
        <div style="float:left">
            <table>
                <tr>
                    <td><strong>Grpahics&nbsp;|&nbsp;</strong></td>
                    <td>Rendering: @(gView.GraphicsEngine.Current.Engine.EngineName)</td>
                    @if (gView.GraphicsEngine.Current.Encoder != null)
                    {
                    <td>&nbsp;|&nbsp;</td>
                    <td>Encoding: @(gView.GraphicsEngine.Current.Encoder.EngineName)</td>
                    }
                    <td>&nbsp;|&nbsp;</td>
                    <td><strong>Proj&nbsp;|&nbsp;</strong></td>
                    <td>Engine: @gView.Framework.Geometry.GeometricTransformerFactory.TransformerType</td>
                </tr>
            </table>
        </div>

        <div class="version">
            Version: @SystemInfo.Version.ToString()
        </div>
    </div>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/lib/bootbox.js/bootbox.js"></script>
        <script src="~/lib/webportal-layout/webportal-layout.js"></script>
        <script src="~/js/site.js?@(SystemInfo.Version.ToString())" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/lib/bootbox.js/bootbox.min.js"></script>
        <script src="~/lib/webportal-layout/webportal-layout.js"></script>
        <script src="~/js/site.min.js?@(SystemInfo.Version.ToString())" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)

    <script type="text/javascript">
        (function () {
            window.gview.server.setRootUrl('@(UrlHelperService.AppRootUrl(this.Context.Request))')
        })();
    </script>
</body>
</html>
