@using gView.Carto.Razor.Components.Controls.Renderers.Models

@inherits BaseHandler

@if (KeySymbols is not null)
{
    <MudDropContainer T="KeySymbol"
                      Items="KeySymbols.Take(1000)"
                      ItemDropped="ReorderItems"
                      ItemsSelector="@((item,zone) => true)">
        <ChildContent>
            
            @if (!String.IsNullOrEmpty(_composeSymbolKey))
            {
                var composeSymbol = KeySymbols.First(k => k.Key == _composeSymbolKey).Symbol;
                <GvGridItem Span="8">
                    <GvCard Title="@_composeSymbolKey">
                        <GvCardContent>
                            <QuickSymbolPropertiesControl Symbol="composeSymbol"
                                                          SymbolChanged="(symbol) => OnSymbolChanged(_composeSymbolKey, symbol)" />
                            <MudButton Color="Color.Primary"
                                        Variant="Variant.Filled"
                                        OnClick="() => _composeSymbolKey = string.Empty">Done</MudButton>
                        </GvCardContent>
                    </GvCard>

                </GvGridItem>
            }
            else
            {
                <div style="height:63vh;overflow-y:auto;white-space:nowrap">
                    <MudDropZone T="KeySymbol"
                                    AllowReorder="@(String.IsNullOrEmpty(_composeSymbolKey))">
                        @if (ListItemTools is not null)
                        {
                            @ListItemTools
                        }
                    </MudDropZone>
                </div>   
            }
        </ChildContent>
        <ItemRenderer>
            <GvGrid ColumnCount="12">
                <GvGridItem Span="1">
                    <MudIconButton Icon="@Icons.Material.Filled.Delete"
                                   OnClick="() => DeleteItem(context)"
                                   Size="MudBlazor.Size.Small"
                                   Color="Color.Secondary"
                                   aria-label="delete"></MudIconButton>
                </GvGridItem>
                <GvGridItem Span="1">
                    <div style="display:inline-block;width:30px;height:30px;cursor:pointer;background-image:url('@context.Symbol.ToBase64ImageSource(30,30)')"
                         @onclick="() => ComposeSymbol(context.Key)">
                    </div>
                </GvGridItem>
                <GvGridItem Span="4">
                    <div style="overflow:hidden">
                        @context.Key
                    </div>
                </GvGridItem>
                <GvGridItem Span="6">
                    @if (_editLabelKey == context.Key)
                    {
                        <InlineInput @bind-Value="@context.LegendLabel"
                                     OnEnter="() => _editLabelKey = String.Empty"
                                     OnBlur="() => _editLabelKey = String.Empty"/>
                    }
                    else
                    {
                        <div @onclick="() => _editLabelKey = context.Key">
                            @context.LegendLabel
                        </div>
                    }
                </GvGridItem>
            </GvGrid>
        </ItemRenderer>
    </MudDropContainer>
    
}

@code {
    [Parameter] public RenderFragment? ListItemTools { get; set; }
    [Parameter] public List<KeySymbol>? KeySymbols { get; set; }
    [Parameter] public EventCallback<List<KeySymbol>> OnKeySymbolsChanged { get; set; }

    private string _composeSymbolKey = "";
    private string _editLabelKey = "";

    protected override Task OnParametersSetAsync()
    {
        return base.OnParametersSetAsync();
    }

    private void ComposeSymbol(string key)
    {
        _composeSymbolKey = key;

        StateHasChanged();
    }

    private Task OnSymbolChanged(string key, ISymbol newSymbol) => HandleAsync(async () =>
    {
        if (KeySymbols is not null)
        {
            var keySymbol = KeySymbols?.FirstOrDefault(k => k.Key == key);

            if(keySymbol is not null)
            {
                var oldSymbol = keySymbol.Symbol as ILegendItem;
                if(oldSymbol is not null && newSymbol is ILegendItem legendItem)
                {
                    legendItem.LegendLabel = oldSymbol.LegendLabel;
                }

                keySymbol.Symbol = newSymbol;

                await OnKeySymbolsChanged.InvokeAsync(KeySymbols);
            }
        }
    });

    private Task DeleteItem(KeySymbol keySymbol) => HandleAsync(() =>
    {
        KeySymbols?.Remove(keySymbol);

        return OnKeySymbolsChanged.InvokeAsync(KeySymbols);
    });

    async Task ReorderItems(MudItemDropInfo<KeySymbol> dropInfo)
    {
        if(KeySymbols is null || dropInfo.Item is null)
        {
            return;
        }

        //
        // Completely rebuild a new list
        // with new instances of items (.Copy())
        // otherwise the list will not refreshed correctly
        // in the dropzone
        //
        var keySymbols = KeySymbols;
        KeySymbols = new();

        bool added = false;
        foreach(var item in keySymbols)
        {
            if(KeySymbols.Count == dropInfo.IndexInZone)
            {
                KeySymbols.Add(dropInfo.Item.Copy());
                added = true;
            }
            if(item == dropInfo.Item)
            {
                continue;
            }

            KeySymbols.Add(item.Copy());
        }
        if(!added)
        {
            KeySymbols.Add(dropInfo.Item.Copy());
        }

        await OnKeySymbolsChanged.InvokeAsync(KeySymbols);

        StateHasChanged();
    }
}