@using gView.Carto.Razor.Components.Controls.Renderers.Models

@inherits BaseHandler

@if (KeySymbols is not null)
{
    <MudDropContainer T="KeySymbol"
                      Items="KeySymbols.Take(1000)"
                      ItemDropped="ReorderSymbols"
                      ItemsSelector="@((item,zone) => true)">
        <ChildContent>
            
            @if (!String.IsNullOrEmpty(_composeSymbolKey))
            {
                var composeSymbol = KeySymbols.First(k => k.Key == _composeSymbolKey).Symbol;
                <GvGridItem Span="8">
                    <GvCard Title="@_composeSymbolKey">
                        <GvCardContent>
                            <QuickSymbolPropertiesControl Symbol="composeSymbol"
                                                          SymbolChanged="(symbol) => OnSymbolChanged(_composeSymbolKey, symbol)" />
                            <MudButton Color="Color.Primary"
                                        Variant="Variant.Filled"
                                        OnClick="() => _composeSymbolKey = string.Empty">Done</MudButton>
                        </GvCardContent>
                    </GvCard>

                </GvGridItem>
            }
            else
            {
                <div style="height:600px;overflow-y:auto;white-space:nowrap">
                    <MudDropZone T="KeySymbol"
                                    AllowReorder="@(String.IsNullOrEmpty(_composeSymbolKey))">
                        @if (ListItemTools is not null)
                        {
                            @ListItemTools
                        }
                    </MudDropZone>
                </div>   
            }
        </ChildContent>
        <ItemRenderer>
            <GvGrid ColumnCount="8">
                <GvGridItem Span="1">
                    <div style="display:inline-block;width:30px;height:30px;cursor:pointer;background-image:url('@context.Symbol.ToBase64ImageSource(30,30)')"
                         @onclick="() => ComposeSymbol(context.Key)">
                    </div>
                </GvGridItem>
                <GvGridItem Span="2">
                    <div style="overflow:hidden">
                        @context.Key
                    </div>
                </GvGridItem>
                <GvGridItem Span="5">
                    @if (_editLabelKey == context.Key)
                    {
                        <MudTextField T="string"
                                      @bind-Value="@context.LegendLabel">
                        </MudTextField>
                    }
                    else
                    {
                        <div @onclick="() => _editLabelKey = context.Key">
                            @context.LegendLabel
                        </div>
                    }
                </GvGridItem>
            </GvGrid>
        </ItemRenderer>
    </MudDropContainer>
    
}

@code {
    [Parameter] public RenderFragment? ListItemTools { get; set; }
    [Parameter] public List<KeySymbol>? KeySymbols { get; set; }
    [Parameter] public EventCallback<List<KeySymbol>> OnKeySymbolsChanged { get; set; }

    private string _composeSymbolKey = "";
    private string _editLabelKey = "";

    protected override void OnParametersSet()
    {
        base.OnParametersSet();

        _composeSymbolKey = "";
        _editLabelKey = "";

        StateHasChanged();
    }

    private void ComposeSymbol(string key)
    {
        _composeSymbolKey = key;

        StateHasChanged();
    }

    private Task OnSymbolChanged(string key, ISymbol newSymbol) => HandleAsync(async () =>
    {
        if (KeySymbols is not null)
        {
            var keySymbol = KeySymbols?.FirstOrDefault(k => k.Key == key);

            if(keySymbol is not null)
            {
                var oldSymbol = keySymbol.Symbol as ILegendItem;
                if(oldSymbol is not null && newSymbol is ILegendItem legendItem)
                {
                    legendItem.LegendLabel = oldSymbol.LegendLabel;
                }

                keySymbol.Symbol = newSymbol;

                await OnKeySymbolsChanged.InvokeAsync(KeySymbols);
            }
        }
    });

    async Task ReorderSymbols(MudItemDropInfo<KeySymbol> dropInfo)
    {
        if(KeySymbols is null || dropInfo.Item is null)
        {
            return;
        }

        var currentIndex = KeySymbols.IndexOf(dropInfo.Item);

        KeySymbols.Remove(dropInfo.Item);
        KeySymbols.Insert(
            currentIndex < dropInfo.IndexInZone
                ? dropInfo.IndexInZone
                : dropInfo.IndexInZone,
            dropInfo.Item);

        await OnKeySymbolsChanged.InvokeAsync(KeySymbols);


        // ToDo: Quirks...
        // vielleicht muss man besser eine komplett neue Liste anlegen, 
        // nach dem Sortieren... also oben schon
        // die müsste man dann gleich an KeySymbolsChanged übergeben
        // ...
        var keySymbols = KeySymbols;
        KeySymbols = new();

        await ForceRenderComponent();

        foreach(var item in keySymbols)
        {
            KeySymbols.Add(item);
        }

        StateHasChanged();
    }
}